node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
bun.lockb

.git
.gitignore
.vscode
.idea

.env
.env.*
!.env.example

coverage
dist
.playwright
.vitest
*.log

Dockerfile
docker-compose.yml
.github


